pydash~=8.0.3
yaml~=0.2.5
pyyaml~=6.0.1
toolz~=0.12.1
neomodel~=5.3.3
nutree~=0.9.0
numpy~=1.26.0
pydantic~=2.9.2
typing_extensions~=4.12.2
parameterized~=0.9.0
pytest~=8.3.3
pyxdameraulevenshtein~=1.7.1
colorama~=0.4.6
setuptools~=68.2.2